/* 
This is a template for a CSS file for developing your web apps. 
Feel free to fork and clone this to modify as needed, or if you prefer, start from scratch on a new file.

Please ensure that each CSS file you create is located in a directory named static of your project.

Recall the format for a CSS rule is as follows:

target-element {
    attribute: value;
}

You can read more about specific attributes on this site: https://developer.mozilla.org/en-US/docs/Web/CSS/Reference
*/

.big-text{
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    text-shadow: 4px 4px 8px black;
}
.not-so-big-text{
    text-align: center;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
body{
    background: #e81313;
    background: linear-gradient(90deg,rgba(232, 19, 19, 1) 0%, rgba(242, 143, 12, 1) 17%, rgba(238, 255, 0, 1) 33%, rgba(12, 240, 35, 1) 50%, rgba(0, 225, 255, 1) 66%, rgba(103, 107, 212, 1) 83%, rgba(195, 0, 255, 1) 100%);
}
.funny{
    font-weight: bolder;
    font-size: 30px;
}
.ooo{
    text-align: center;
}

.mystery-btn .btn-text {
    transition: opacity 0.2s;
}

.mystery-btn:hover .btn-text {
    opacity: 0;
}

.mystery-btn:hover::after {
    content: "of mystery...";
    color: white;
    background: black;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    pointer-events: none;
}