<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel = "stylesheet" href = "../static/HexColorStyle.css">
    </head>
    <body>
        <h1>HEXCODE COLOUR PICKER</h1>
        <form>
            <fieldset>
                <legend></legend>
                <label for="hexcode"><h2>Hexcode</h2></label>
                <input type="text" id="hexcode" ><br>
            </fieldset>
            <input type="button" value = "Enter"><br>
            <input type = "reset" value = "Click here to reset">
            <div>
                <svg width="300" height="130" xmlns="http://www.w3.org/2000/svg">
                    <rect width="200" height="100" x="54" y="10" rx="20" ry="20" fill="blue" />
                </svg>
            </div>
        </form>
    </body>
</html>   